Flask==2.3.3
Flask-Caching
Flask-Limiter
Flask-Mail
Flask-Session==0.5.0
Werkzeug==2.3.7
Pillow
python-dotenv==1.0.0
requests
gunicorn
psycopg2-binary
apscheduler
groq
openpyxl
pytest
apscheduler
Flask==2.3.3
Flask-Caching
Flask-Limiter
Flask-Mail
Flask-Session==0.5.0
groq
gunicorn
openpyxl
Pillow
psycopg2-binary
pytest
python-dotenv
requests
Werkzeug==2.3.7
apscheduler
Flask==2.3.3
Flask-Caching
Flask-Limiter
Flask-Mail
Flask-Session==0.5.0
groq
gunicorn
openpyxl
Pillow
psycopg2-binary
pytest
python-dotenv
requests
Werkzeug==2.3.7
